.main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
   
    position: relative;
    height: 500px;
   border: none;
  outline: none;
}
.data-options{
    height: 500px;
    display: flex;
    justify-content: center;
    position: absolute;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    color: white;
}
.data-options select{
    width: 7rem;
}
.nav-left{
    display: flex;
    width: 30%;
    flex-wrap: wrap;
    font-size: large;
    font-weight: bold;
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.82);
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.nav-right{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    justify-content: flex-end;
    width: 70%;
    background-image: url(../../images/gettyimages-859973406-612x612.jpg);
    filter: grayscale(30%);
    background-repeat: no-repeat;
   border-radius: 3px;
   background-size: cover;
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
    margin-right: 9rem;

}
.nav-main{
    display: flex;
   
}
.nav-name{
    display: flex;
    margin-top: 10px;
}
.serchbar-input{
    border-radius: 4px;
    height: 3rem;
    width: 45rem;
    box-shadow: 0px 0px 20px rgb(0, 0, 29%);
    padding: 0 0 0 45px;
    outline: none;
    border: none;
   left: 2rem; 
}
.ityped-intro{
    display: flex;
    justify-content: center;
    color: aliceblue;
    margin-top: 66px;
    height: fit-content;

    
}

.search_bar{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;

}
.intro{
    margin-top: 3rem;
    display: flex;
    top: 6rem;
    height: fit-content;
    position: absolute;
    display: flex;
    flex-direction: column;   
}

.nav-list button{
    background: #3f5251;
    width: 5rem;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.nav-list button:hover{
    background: orange;
    color: black;
}
@media screen and(max-width:832px) {
    .nav-left{
        width: 30%;
        flex-direction: row;

    }
    .data-options{
        margin-left: -2rem;
    }
    .nav-right{
        width: 70%;
    }
    
}
@media screen and(max-width:563px) {
    .nav-left{
        width: 40%;
        

    }
    .data-options{
        margin-left: -2rem;
    }
    .nav-right{
        width: 60%;
    }
}

